.topbar {
  background-color: white;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
}

.topbar .header {
  border-bottom: 1px solid #e1e5eb;
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 50px;
}

.topbar .navigation {
  color: black;
  height: 50px;
  margin-left: 1rem;
  color: var(--bg-primary);
  display: flex;
  align-items: center;
}
.topbar .navigation a {
  display: inline-block;
  position: relative;
}

.topbar .navigation a::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: var(--bg-primary);
  transition: 300ms;
}
.topbar .navigation a:hover::after {
  width: 100%;
}

.topbar .header .link:not(:last-child):after {
  content: "/";
  margin: 0 0.5rem;
}

.topbar .header .toggler {
  font-size: 1.75rem;
  cursor: pointer;
}

.topbar .header.header-sticky {
  position: sticky;
  top: 0;
}
