.notification-1 {
  background-color: #f4edff;
  height: 100%;
  display: grid;
  place-items: center;
  container-type: inline-size;
}

.notification-1 .container {
  background-color: white;
  padding: 30px;
  border-radius: 1rem;
  width: 550px;
  margin: 1rem;
  display: grid;
  gap: 1rem;
}

.notification-1 .container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-1 .container .header h1 {
  color: #38196b;
  font-weight: var(--font-semibold);
  font-size: 24px;
}

.notification-1 .container .header i {
  background-color: #f4edff;
  width: 44px;
  height: 44px;

  border-radius: 100%;
  display: grid;
  place-items: center;
}

.notification-1 .container .header i .close-icon {
  font-size: 22px;
  color: #38196b;
  opacity: 0.5;
}

.notification-1 .container .content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.notification-1 .container .content i {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 0.75rem;
  background: linear-gradient(-45deg, #eb73ff, #9ab0ff);
}

.notification-1 .container .content i .icon {
  color: white;
  font-size: 20px;
}

.notification-1 .footer {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.notification-1 .btn-outlined {
  padding: 12px 24px;
  background-color: white;
  font-size: 18px;
  font-weight: var(--font-semibold);
  border-radius: 0.5rem;
}

.notification-1 .btn-success {
  border: solid 1px #9eebaf;
  color: #0abe31;
}

.notification-1 .btn-danger {
  color: #ff1212;
  border: solid 1px #ffb2b2;
}

@container (max-width: 600px) {
  .notification-1 .container {
    width: 400px;
  }
}
