:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-primary: #007bff;
  --bg-scrollbar: lightblue;
  --bg-scroll: #73b0f2;

  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;

  --bg-light: #fbfbfb;

  --color-light-dark: #3d5170;

  /* sizes */
  --font-size-s: 0.75rem;
  --font-size-m: 0.875rem;
  --font-size-l: 1rem;
  --font-size-xl: 1.1rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2rem;

  /* Spacing */
  --padding-s: 0.75rem;
  --padding-m: 0.875rem;
  --padding-l: 1rem;
  --padding-xl: 1.25rem;
  --padding-xxl: 1.5rem;

  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 0.875rem;
  --margin-l: 1rem;
  --margin-xl: 1.25rem;
  --margin-xxl: 1.5rem;
}

body,
html,
#root {
  height: 100%;
  background-color: white;
}

.btn {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 300ms;
  border-radius: 0.2rem;
}

.btn-default {
  background-color: lightgray;

  &:hover {
    background-color: rgb(197, 196, 196);
  }
}

.btn-primary {
  color: white;
  background-color: #0d6efd;

  &:hover {
    background-color: #0b5ed7;
  }
}

.form-double {
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.form-input {
  outline: none;
  border-radius: 0.3rem;
  border: 1.25px solid lightgray;
  padding: 0.5rem 0.5rem;
  color: darkgray;
  font-size: var(--font-size-m);
  font-weight: var(--font-medium);

  transition: all 500ms;
  

  &:hover, &:focus{
    border-color: lightblue;
    -webkit-box-shadow: 0px 0px 3px 0px lightblue;
    -moz-box-shadow: 0px 0px 3px 0px lightblue;
    box-shadow: 0px 0px 3px 0px lightblue;
  }
}

.w-full{
width: 100%;
}
.grid-span-2 {
  grid-column: span 2 ;
}
