:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-primary: #007bff;
  --bg-scrollbar: lightblue;
  --bg-scroll: #73b0f2;

  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;

  --bg-light: #fbfbfb;

  --color-light-dark: #3d5170;

  /* sizes */
  --font-size-s: 0.75rem;
  --font-size-m: 0.875rem;
  --font-size-l: 1rem;
  --font-size-xl: 1.1rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2rem;

  /* Spacing */
  --padding-s: 0.75rem;
  --padding-m: 0.875rem;
  --padding-l: 1rem;
  --padding-xl: 1.25rem;
  --padding-xxl: 1.5rem;

  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 0.875rem;
  --margin-l: 1rem;
  --margin-xl: 1.25rem;
  --margin-xxl: 1.5rem;
}

body,
html,
#root {
  height: 100%;
}

.form-double {
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.form-input {
  outline: none;
  border-radius: 0.3rem;
  border: 1.25px solid lightgray;
  padding: 0.5rem 0.5rem;
  color: darkgray;
  font-size: var(--font-size-m);
  font-weight: var(--font-medium);

  transition: all 500ms;

  &:hover,
  &:focus {
    border-color: lightblue;
    -webkit-box-shadow: 0px 0px 3px 0px lightblue;
    -moz-box-shadow: 0px 0px 3px 0px lightblue;
    box-shadow: 0px 0px 3px 0px lightblue;
  }
}

.input-error {
  /* 842029 , f5c2c7 */
  border-color: #f5c2c7;
  -webkit-box-shadow: 0px 0px 3px 0px #842029;
  -moz-box-shadow: 0px 0px 3px 0px #842029;
  box-shadow: 0px 0px 3px 0px #842029;

  color: #842029;

  &::-webkit-input-placeholder {
    color: #842029;
  }

  &:hover,
  &:focus {
    border-color: #f5c2c7;
    -webkit-box-shadow: 0px 0px 3px 0px #842029;
    -moz-box-shadow: 0px 0px 3px 0px #842029;
    box-shadow: 0px 0px 3px 0px #842029;
  }
}

/* UTILITIES */
.flex-group {
  display: flex;
  align-items: center;
  gap: var(--flex-group-gap, 0.5rem);
  flex-wrap: wrap;
}

.flex-group.end {
  justify-content: flex-end;
}

.grid-flow {
  display: grid;
  align-content: start;
  gap: var(--grid-flow-gap, 1rem);
}

.grid-flow--reverse {
  grid-auto-flow: dense;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-nowrap {
  text-wrap: nowrap;
}

.flow > * + * {
  margin-top: var(--flow-gap, 1rem);
}

.w-full {
  width: 100%;
}
.grid-span-2 {
  grid-column: span 2;
}
